{% extends 'base.html' %}


{% block title %}
    Index page
{% endblock %}


{% block content_title %}

Hello,
{% if current_user.is_authenticated %}
    {{ current_user.username -}}
{% else %}
    stranger
{% endif %}

{% endblock %}


{% block content %}
    <div>
        <h3>
        Welcome to Flasky Blog!<br></h3>
    
        Go to 
        <a href="{{ url_for('posts.view') }}">blog</a><br>
    {% if current_user.is_anonymous %}
        <a href="{{ url_for('auth.login') }}">Log in</a>
        or
        <a href="{{ url_for('auth.register') }}">register</a>
        to be a part of our community
    {% endif %}
        
    </div>
{% endblock %}