{% extends "base.html" %}


<!-- ???????????????????? -->
<!-- {% block head %}
{{ moment.include_moment() }}
{% endblock %} -->




{% block title %}
    {{ user.username }}
{% endblock %}

{% block content_title %}
    {{ user.username }}
{% endblock %}

{% block content %}
    <div class="main-content">
        {% if user.name or user.location %}
        <p>
            {% if user.name %}{{ user.name }}{% endif %}
            {% if user.location %}
                from <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>
            {% endif %}
        </p>
        {% endif %}
        {% if current_user.is_admin() %}
        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}
        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        <p>Member since {{ moment(user.member_since).format('L') }}. Last seen {{ moment(timestamp=user.last_seen, local=true).fromNow() }}.</p>
    </div>

{% endblock %}
