{% extends "base.html" %}
{% import "posts/_page_navigation.html" as macros %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}


{% block title %}
    {{ user.username }}
{% endblock %}

{% block content_title %}
    Profile page
{% endblock %}

{% block content %}
    <div class="main-content" >
        <!-- style="display:flex;" -->
        <img class="profile-thumbnail " src="{{ user.gravatar(size=256) }}">
        <div class="profile-header">
            <h1>{{ user.username}}</h1>
            {% if user.name or user.location %}
            <p>
                {% if user.name %}{{ user.name }}{% endif %}
                {% if user.location %}
                from <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>
                {% endif %}
            </p>
            {% endif %}
            {% if current_user.is_admin() %}
            <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
            {% endif %}
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            <p>Member since {{ moment(user.member_since).format('L') }}. Last seen {{ moment(timestamp=user.last_seen).fromNow() }}.</p>
    
            <p>
                {% if current_user.can(Permission.FOLLOW) and user != current_user %}
                    {% if not current_user.is_following(user) %}
                    <a href="{{ url_for('user.follow', username=user.username) }}" class="btn btn-dark">Follow</a>
                    {% else %}
                    <a href="{{ url_for('user.unfollow', username=user.username) }}" class="btn btn-outline-dark">Unfollow</a>
                    {% endif %}
                {% endif %}
                
                <a href="{{ url_for('user.followers', username=user.username) }}">Followers:
                    <span class="badge rounded-pill text-bg-secondary">{{ user.followers.count() - 1 }}</span></a>
                <a href="{{ url_for('user.followed_by', username=user.username) }}">Following:
                    <span class="badge rounded-pill text-bg-secondary">{{ user.followed.count() - 1 }}</span></a>
                

                {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
                | <span class="badge text-bg-secondary">Follows you</span>
                {% endif %}
            </p>

            {% if user == current_user %}
            <div>
                <a class="btn btn-outline-dark" href="{{ url_for('user.edit_profile') }}" role="button">Edit Profile</a>
            </div>
            {% endif %}
        </div>

        <h3>Posts by {{ user.username }} </h3>
        {% include 'posts/_posts.html' %}
        {% if pages %}
            <div>
                {{ macros.pagination_widget(pages, 'user.user', username=user.username) }}
            </div>
        {% endif %}

{% endblock %}

