.profile-thumbnail {
  position: absolute;
}

.profile-header {
  min-height: 260px;
  margin-left: 280px;
  word-wrap: break-word;
}

ul.posts {
  list-style-type: none;
  padding: 0px;
  margin: 16px 0px 0px 0px;
  border-top: 1px solid #e0e0e0;
}

ul.posts li.post {
  padding: 8px;
  border-bottom: 1px solid #e0e0e0;
}

ul.posts li.post:hover {
  background-color: #f0f0f0;
}

div.post-date {
  float: right;
}

div.post-author {
  margin-left: 48px;
  font-weight: bold;
}

div.post-title {
  margin-left: 48px;
  font-weight: bold;
  font-size: 160%;
}

div.post-thumbnail {
  position: absolute;
}

div.post-body {
  margin-left: 48px;
  min-height: 48px;
}

div.post-footer {
  text-align: right;
}

.pagination {
  margin-top: 1rem
}

.pagination > .active > a {
    color: white;
    background-color: #292b2c;
    border: solid 1px #292b2c;
}

.pagination > a {
  color: white;
}

.flask-pagedown-preview {
  margin: 20px 0px 10px 0px;
  border: 1px solid #e0e0e0;
  padding: 4px;
  border-radius: 5px;
}

.flask-pagedown-preview h1 {
  font-size: 140%;
}

.flask-pagedown-preview h2 {
  font-size: 130%;
}

.flask-pagedown-preview h3 {
  font-size: 120%;
}

.post-body h1 {
  font-size: 140%;
}

.post-body h2 {
  font-size: 130%;
}

.post-body h3 {
  font-size: 120%;
}