.profile-thumbnail {
  position: absolute;
}

.profile-header {
  min-height: 260px;
  margin-left: 280px;
  word-wrap: break-word;
}

ul.posts {
  list-style-type: none;
  padding: 0px;
  margin: 16px 0px 0px 0px;
  border-top: 1px solid #e0e0e0;
}

ul.posts li.post {
  padding: 8px;
  border-bottom: 1px solid #e0e0e0;
}

ul.posts li.post:hover {
  background-color: #f0f0f0;
}

div.post-date {
  float: right;
}

div.post-author {
  margin-left: 48px;
  font-weight: bold;
}

div.post-title {
  margin-left: 48px;
  font-weight: bold;
}

div.post-thumbnail {
  position: absolute;
}

div.post-body {
  margin-left: 48px;
  min-height: 48px;
}

.pagination {
  margin-top: 1rem
}

.pagination > .active > a {
    color: white;
    background-color: #292b2c;
    border: solid 1px #292b2c;
}

.pagination > a {
  color: white;
}