<ul class='posts'>
    {% for post in posts %}
    <li class='post'>
        <div class="profile-thumbnail">
            <a href="{{ url_for('user.user', username=post.author.username) }}">
                <img class="profile-thumbnail" src="{{ post.author.gravatar(size=40) }}">
            </a>
        </div>
        <div class='post-content'>
            <div class='post-date'>
                {{ moment(post.created, local=true).format('LL [at] HH:mm') }}
            </div>
            <div class='post-author'>
                <a href="{{ url_for('user.user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
            </div>
            <div class='post-title'>
                {{ post.title }}
            </div>
            <div class='post-body'>
                {% if post.body_html %}
                    {{post.body_html | safe }}
                {% else %}
                    {{ post.body }}
                {% endif %}
            </div>
            <div class='post-footer'>
                <table class='right'>
                    <tr>
                {% if current_user == post.author %}
                <td><a href="{{ url_for('posts.edit_post', slug=post.slug) }}">
                    <span class="badge text-bg-primary">Edit</span>
                </a></td>
                {% elif current_user.is_admin() %}
                <td><a href="{{ url_for('posts.edit_post', slug=post.slug) }}">
                    <span class="badge text-bg-danger">Edit [Admin]</span>
                </a></td>
                {% endif %}
                <td><a href="{{ url_for('posts.post_detail', slug=post.slug) }}">
                    <span class="badge text-bg-secondary">Detail</span>
                </a></td>
                    </tr>
                </table>
            </div>
        </div>
    </li>
    {% endfor %}
    </ul>