{% extends 'base.html' %}
{% import 'posts/_page_navigation.html' as macros %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block title %}
Blog
{% endblock %}


{% block content_title %}
Posts
{% endblock %}


{% block content %}


{% if current_user.is_authenticated %}
<div>
    <a class="btn btn-outline-dark" href="{{ url_for('posts.create_post') }}" role="button" style="margin-bottom: 8px">New
        post</a>
</div>
{% endif %}


{% include 'posts/_posts.html' %}

{% if pages %}
<div>
    {{ macros.pagination_widget(pages, 'posts.view') }}
</div>
{% endif %}

{% endblock %}