{% extends 'base.html' %}
{% import 'posts/_page_navigation.html' as macros %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block title %}
Blog
{% endblock %}


{% block content_title %}
Posts
{% endblock %}


{% block content %}


{% if current_user.is_authenticated %}
<div>
    <a class="btn btn-outline-dark" href="{{ url_for('posts.create_post') }}" role="button" style="margin-bottom: 8px">New
        post</a>
</div>
{% endif %}

<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a href="{{ url_for('posts.show_all') }}" class="nav-link {% if not show_followed %} active {% endif %}">All</a></li>
        {% if current_user.is_authenticated %}
        <li class="nav-item"><a href="{{ url_for('posts.show_followed') }}" class="nav-link {% if show_followed %} active {% endif %}">Followed</a></li>
        {% endif %}
    </ul>
    {% include 'posts/_posts.html' %}
</div>

{% if pages %}
<div>
    {{ macros.pagination_widget(pages, 'posts.view') }}
</div>
{% endif %}

{% endblock %}