{% extends 'base.html' %}


{% block title %}
    {{ post.title }}
{% endblock %}


{% block content_title %}
    {{ post.title }}
{% endblock %}


{% block content %}
    <div class="main-content">
        {{ post.body }}
    </div>

    <div class="tags">
        <table>
            <tr>
                {% for tag in tags %}
                <td>
                    <a href="{{ url_for('posts.tag_detail', slug=tag.slug) }}">
                        <span class="badge text-bg-secondary"> {{ tag.name }} </span>
                    </a>
                </td>
                {% endfor %}
            </tr>
        </table>
    
    </div>
{% endblock %}