{% extends 'base.html' %}


{% block title %}
    Post detail
{% endblock %}


{% block content_title %}
    {{ post.title }}
{% endblock %}


{% block content %}

    {% if tags %}
    <div class="tags">
        <table>
            <tr>
                {% for tag in tags %}
                <td>
                    <a href="{{ url_for('posts.tag_detail', slug=tag.slug) }}">
                        <span class="badge text-bg-secondary"> {{ tag.name }} </span>
                    </a>
                </td>
                {% endfor %}
            </tr>
        </table>
    {% endif %}

    <div class='post-body'>
        {% if post.body_html %}
            {{post.body_html | safe }}
        {% else %}
            {{ post.body }}
        {% endif %}
    </div>
    
    </div>
{% endblock %}