{% extends 'base.html' %}


{% block title %}
    Reset password
{% endblock %}


{% block content_title %}
    Reset password
{% endblock %}


{% block content %}

{% if form.errors %}
    <ul>
    {% for field, errors in form.errors.items() %}
        <li style="list-style-type: none;">
            <div class="alert alert-danger col-md-6" role="alert"
            style="--bs-alert-padding-y: 0.5rem;">
            {{ ', '.join(errors) }}</div>
        </li>
    {% endfor %}
</ul>
{% endif %}

<form role="form" action="{{ url_for('auth.reset_password', token=token) }}" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group col-md-6 mb-3">
        {{ form.password.label(class='control-label') }}
        {{ form.password(class='form-control') }}
        <div id="passwordHelpBlock" class="form-text">
            Must be 8-16 characters long
        </div>
    </div>

    <div class="form-group col-md-6 mb-1">
        {{ form.password2.label(class='control-label') }}
        {{ form.password2(class='form-control') }}
    </div>

    {{ form.submit(class='btn btn-success', style='margin-top: 8px') }}
</form>

{% endblock %}