<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    {% block head %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"
        type="image/x-icon">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"
        type="image/x-icon">
    {% endblock %}
    <title>
        {% block title %}

        {% endblock %} | Flasky Blog
    </title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href=" {{ url_for('main.index') }} ">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href=" {{ url_for('posts.view') }} ">Blog</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('user.user', username=current_user.username) }}">
                            Profile
                        </a>
                    </li>
                    {% endif %}
                </ul>

                    <form class="d-flex" role="search" method="GET">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ request.args.get('q', '') }}">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                    </form>

                <ul class="navbar-nav">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{{ url_for('auth.update_password') }}">Update Password</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log Out</a></li>
                        </ul>
                    </li>
                    

                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <h1 style="margin-top: 0.67em; margin-bottom: 0.67em;">
                {% block content_title %}

                {% endblock %}
            </h1>
            
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul>
                    {% for category, message in messages %}
                        <li style="list-style-type: none;">
                            <div class="alert alert-{{ category }} col-md-6" role="alert"
                            style="--bs-alert-padding-y: 0.5rem;">
                            {{ message }}</div>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            

            {% block content %}
            
            {% endblock %}
            
        </div>
    </div>

    {% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    {{ moment.include_moment() }}
    {% endblock %}
</body>

</html>